{
  "all": true,
  "include": "src",
  "exclude": [
              "**/router.js", "bin/index.js", "src/createApp.js",
              "src/helpers/createLogger.js", "src/helpers/EnvHelper.js",
              "src/services/ServiceFacade.js"
              ],
  "reporter": [
    "text-summary"
  ]
}